html
  head
    title React SSR example
  body
    #root!=html
    script(type='text/javascript' charset='utf-8')
      | window.__REDUX_STATE__ = '#{reduxState}';
    script(src='#{rootUrl}/bundle.js')
